<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

		<!--Esta es de somee <add name="PPersona"
				connectionString="data source=PPersona.mssql.somee.com;persist security info=False;initial catalog=PPersona;user id=TICS_UTTT_SQLLogin_1;pwd=rajf5je1hi"
		    providerName="System.Data.SqlClient" />    --> 
		
		 <add name="Persona"
				connectionString="Data Source=SQL5107.site4now.net;Initial Catalog=db_a8400b_persona;User Id=db_a8400b_persona_admin;Password=claudia15.A"
				providerName="System.Data.SqlClient" />
		
		
		
		
		

		
		
	


		
    
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
